<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quesiton</title>
</head>

<body>
    <h1></h1>
    <button class="no-button">Sai</button></a>
    <button class="yes-button">Đúng</button></a>
    <button class="result-button">Kết quả vote</button></a>
    <button class="change-question-button">Xem câu hỏi khác</button></a>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="./js/answer.js"></script>
</body>

</html>