<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quyết đê</title>
</head>

<body>
    <h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không?</h1>
    <textarea name="" class="questionContent" cols="30" rows="10"></textarea>
    <p>Còn 200/200 kí tự</p>
    <button class="submit-button" type="submit">Gửi</button>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/js/ask.js"></script>
</body>

</html>